* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board {
    margin: 0 auto;
    width: 100%;
    height: 500px;
    border-bottom: 15px solid #00fd00;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87ceeb, #e0f6ff )
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 2s infinite linear; 
}

.mario {
    position: absolute;
    width: 150px;
    bottom: 0px;
}

.jump {
    animation: jump .5s ease;
}

.clouds {
    position: absolute;
    width: 500px;
    animation: clouds 20s infinite linear;
}

@keyframes pipe-animation {
    from {
        right: -80px;
    }
    to {
        right: 100%;
    }
}   

@keyframes jump {
    0% {
        bottom: 0px;
    }
    40% {
        bottom: 180px;
    }
    50% {
        bottom: 180px;
    }
    60% {
        bottom: 180px;
    }
    100% {
        bottom: 0px;
    }
}

@keyframes clouds {
    from {
        right: -550px;
    }
    to {
        right: 100%;
    }
} 

